<button type="button" class="btn btn-primary"> {{ "BUTTONS.PRIMARY" | translate }}</button>
<button type="button" class="btn btn-secondary espacoEsquerda">
    {{ "BUTTONS.SECONDARY" | translate }}
</button>
<button type="button" class="btn btn-success espacoEsquerda">{{ "BUTTONS.SUCCESS" | translate }}</button>
<button type="button" class="btn btn-danger espacoEsquerda">{{ "BUTTONS.DANGER" | translate }}</button>
<button type="button" class="btn btn-warning espacoEsquerda">{{ "BUTTONS.ATENTION" | translate }}</button>
<button type="button" class="btn btn-info espacoEsquerda">{{ "BUTTONS.INFO" | translate }}</button>
<button type="button" class="btn btn-light espacoEsquerda">{{ "BUTTONS.LIGHT" | translate }}</button>
<button type="button" class="btn btn-dark espacoEsquerda">{{ "BUTTONS.DARK" | translate }}</button>
