<carousel>
    <slide>
        <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/2.jpg" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>{{ "SLIDES.FIRST.TITLE" | translate}}</h3>
            <p>{{ "SLIDES.FIRST.SUBTITLE" | translate}}</p>
        </div>
    </slide>
    <slide>
        <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/1.jpg" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>{{ "SLIDES.SECOND.TITLE" | translate }}</h3>
            <p>{{ "SLIDES.SECOND.SUBTITLE" | translate }}</p>
        </div>
    </slide>
    <slide>
        <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>{{ "SLIDES.THIRD.TITLE" | translate }}</h3>
            <p>{{ "SLIDES.THIRD.SUBTITLE" | translate }}</p>
        </div>
    </slide>
</carousel>
